{% load i18n %}

<div class="well sidebar-nav">
    <ul class="nav nav-list">
        {% if servers %}
            {% for server in servers %}
                <li{% if active_server == server %} class="active"{% endif %}>
                    <a href="{{ server.get_absolute_url }}" {% if not server.online %}class="muted"{% endif %}>
                        <h4><i class="{% if server.online %}icon-folder-open{% else %}icon-ban-circle{% endif %}"></i>
                            {{ server.display_name|escape }}
                            <small>{{ server.size|filesizeformat }}</small>
                        </h4>
                        {% if not server.online %}
                            {{ server.display_lastonline }} ago
                        {% endif %}</a>
                </li>
            {% endfor %}
        {% else %}
            <li>
                No servers...
            </li>
        {% endif %}
    </ul>
</div>
