{% load i18n %}

<div class="well sidebar-nav">
    <ul class="nav nav-list">
        {% if servers %}
            {% for server in servers %}
                <li{% if active_server == server %} class="active"{% endif %}>
                    <a href="{{ server.get_absolute_url }}" {% if not server.online %}class="muted"{% endif %}>
                        <strong><i class="icon-{{ server.icon }}"></i>
                            {{ server.display_name|escape }}</strong>
                            <small>{{ server.size|filesizeformat }}</small>

                        {% if not server.online %}
                            <br/><small>{{ server.display_lastonline }} ago</small>
                        {% endif %}</a>
                </li>
            {% endfor %}
        {% else %}
            <li>
                No servers...
            </li>
        {% endif %}
    </ul>
</div>
