{% load i18n %}
<table class="table">
    <thead>
    <tr class="titre">
        <th>{% trans "Name" %}</th>
        <th>{% trans "Size" %}</th>
        <th>{% trans "Offline for" %}</th>
    </tr>
    </thead>
    <tbody><!-- TODO : active ftp -->
    {% for server in servers %}
        <tr{% if active_server == server %} {% endif %}>
            <td><a href="{{ server.get_absolute_url }}">
                {% if server.online %}
                    <i class="icon-folder-open"></i>
                {% else %}
                    <i class="icon-off"></i>
                {% endif %}{{ server.display_name }}</a></td>
            <td>{{ server.size|filesizeformat }}</td>
            <td>
                {% if server.online %}
                    -
                {% else %}
                    {{ server.display_lastonline }}
                {% endif %}
            </td>
        </tr>
    {% empty %}
        <tr>
            <td>{% trans "No servers..." %}</td>
            <td></td>
            <td></td>
        </tr>
    {% endfor %}
    </tbody>
</table>
