<table class="table table-striped table-condensed">
    <thead>
    <tr class="titre">
        <th>Name</th>
        <th>Size</th>
    </tr>
    </thead>
    <tbody>

    {% if files %}
        {% for file in files %}
            <tr>
                <td>{% if file.is_directory %}
                    <a href="{{ file.get_absolute_url }}"><i class="icon-folder-close"></i>
                {% else %}
                    <a href="{{ file.get_absolute_url }}"><i class="icon-file"></i>
                {% endif %}
                    {{ file.name }}</a></td>
                <td width="100" align="right">{{ file.size|filesizeformat }}</td>
            </tr>
        {% endfor %}
    {% else %}
        <tr>
            <td>No files to show</td>
            <td></td>
        </tr>
    {% endif %}
    </tbody>
</table>
