/* For the navbar */
body {
    padding-top: 60px;
}

/* For the ftp list */
.sidebar-nav {
    padding: 9px 0;
}

/* So that the ftp list is on left but after on small screens */
#mainContent {
    float:right;
}
#sidebar {
    margin-left: 0;
}
@media (max-width: 767px) {
    #mainContent {
        float:none;
    }
}