{% load i18n %}

<!DOCTYPE html>
<html lang="{{ LANGUAGE_CODE }}">
<head>
    <meta charset="utf-8">
    <title>{% block page_title %}Yoppi{% endblock %}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ STATIC_URL }}css/bootstrap.min.css" type="text/css" />
    <link rel="stylesheet" href="{{ STATIC_URL }}css/layout.css" type="text/css" />
    <link rel="stylesheet" href="{{ STATIC_URL }}css/bootstrap-responsive.min.css" type="text/css" />
    <link rel="stylesheet" href="{{ STATIC_URL }}css/custom.css" type="text/css" />
</head>
<body>
<div class="navbar navbar-fixed-top navbar-inverse">
    <div class="navbar-inner">
        <div class="container">
            <a class="brand" href="{% url index %}">Yoppi</a>
{#            <ul class="nav">#}
{#                <li><a href="{% url index %}">{% trans "Home" %}</a></li>#}
{#                <!--               <li class="active"><a href="#">Home</a></li>#}
{#              <li><a href="#about">About</a></li>#}
{#              <li><a href="#contact">Contact</a></li> -->#}
{#            </ul>#}
            <form class="navbar-search pull-right" action="{% url search %}">
                <input type="text" class="search-query span" name="query" placeholder="{% trans "Search" %}" results="10" autosave="yoppi-indexer" value="{{ query }}">
            </form>
        </div>
    </div>
</div>
<div class="container-fluid">
    <div class="row-fluid">
        {% block base_content %}{% endblock %}
    </div>
    <footer>{% with project_url="https://github.com/supelec-rezo/yoppi" %}{% blocktrans %}Yoppi Indexer on <a href="{{ project_url }}">github.com</a>{% endblocktrans %}{% endwith %}</footer>
</div>
</body>
</html>
